
<div class="col-sm-6">
	<h1>Upcoming events</h1>
	<%= render '/users/table', object: @upcoming %>
	
</div>
<div class="col-sm-6">
	<h1>Past Events</h1>
	<%= render '/users/table', object: @past %>
</div>

<div>
	


</div>
